## Sibi Learning Deep Learning and ML

In [4]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

#### Continous variable generation randomly

In [6]:
#set seed for reproducibility
np.random.seed(0)
n_samples = 100

#generate random predictor variables
X = np.random.uniform(low = -10, high = 10, size = n_samples)

#generate noise
noise = np.random.normal(loc=0.0, scale=1.0, size=n_samples)

#generate dependent variable
y = 2*X + 3 + noise

#convert to pandas dataframe
data = pd.DataFrame({'X': X, 'y': y})

print(data.head())

          X          y
0  0.976270   3.787390
1  4.303787  12.508401
2  2.055268   7.576197
3  0.897664   3.259084
4 -1.526904   1.434444

#### Categorical variable generation randomly

In [7]:
#generating a categorical variable independent variable
x_1 = pd.Categorical(np.random.choice(['Low', 'Medium', 'High'], n_samples))

#generating dependent variable y
y_dict = {'Low': 1, 'Medium': 2, 'High': 3}

y_1 = pd.Categorical([y_dict[x] for x in x_1])

#convert to pandas dataframe
data_1 = pd.DataFrame({'X': x_1, 'y': y_1})

print(data_1.head())

        X  y
0     Low  1
1  Medium  2
2  Medium  2
3  Medium  2
4     Low  1

#### Categorical variables cannot be used in linear regression so have to convert to continous using one hot encoding

In [8]:
#one hot encoding of independent variable x
X_encoded = pd.get_dummies(data_1['X'], prefix='X', drop_first=False)

#convert the dependent variable to integer
y_encoded = data_1['y'].astype('int')

data_encoded = pd.concat([X_encoded, y_encoded], axis=1)

print(data_encoded.head())

   X_High  X_Low  X_Medium  y
0   False   True     False  1
1   False  False      True  2
2   False  False      True  2
3   False  False      True  2
4   False   True     False  1

#### Now data is ready we have to do test train split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y_encoded, random_state=0)

In [15]:
model_categorical = LinearRegression().fit(X_train, y_train)

In [16]:
y_pred = model_categorical.predict(X_test)

In [20]:
mae = mean_squared_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Absolute Error:', mae)
print('Mean Squared Error:', mse)
print('R2 Score:', r2)

Mean Absolute Error: 2.7215701230124905e-31
Mean Squared Error: 2.7215701230124905e-31
R2 Score: 1.0

#### Now lets try to do for continous variable

In [24]:
# test train split
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X, y, random_state=0)

mode_continuous = LinearRegression().fit(X_train_1.reshape(-1, 1), y_train_1)

In [25]:
y_pred_1 = mode_continuous.predict(X_test_1.reshape(-1, 1))

In [26]:
mae_1 = mean_squared_error(y_test_1, y_pred_1)
mse_1 = mean_squared_error(y_test_1, y_pred_1)
r2_1 = r2_score(y_test_1, y_pred_1)

print('Mean Absolute Error:', mae_1)
print('Mean Squared Error:', mse_1)
print('R2 Score:', r2_1)

Mean Absolute Error: 1.0934268926184856
Mean Squared Error: 1.0934268926184856
R2 Score: 0.9917428854927943

#### Creating Linear regression from scratch

In [24]:
class LR:
    def __init__(self, learning_rate=0.001, n_iters=1000):
        self.learning_rate = learning_rate
        self.n_iters = n_iters
        self.weights = None
        self.bias = None
    
    def fit(self, X, y):
        #init parameters
        n_samples, n_features = X.shape

        self.weights = np.zeros(n_features)
        self.bias = 0

        #gradient descent
        for _ in range(self.n_iters):
            y_pred = np.dot(X, self.weights) + self.bias

            dw = (1/n_samples) * np.dot(X.T, (y_pred - y))
            db = (1/n_samples) * np.sum(y_pred - y)

            self.weights -= self.learning_rate * dw
            self.bias -= self.learning_rate * db

    def predict(self, X):
        y_pred = np.dot(X, self.weights) + self.bias
        return y_pred

In [27]:

my_model = LR()
my_model.fit(X_train, y_train)

In [28]:
y_pred = my_model.predict(X_test)

In [29]:
y_pred

array([1.43887172, 1.15414374, 1.43887172, 1.15414374, 1.43887172,
       1.43887172, 1.59579448, 1.43887172, 1.43887172, 1.15414374,
       1.59579448, 1.59579448, 1.59579448, 1.59579448, 1.15414374,
       1.15414374, 1.15414374, 1.59579448, 1.59579448, 1.15414374,
       1.59579448, 1.43887172, 1.43887172, 1.15414374, 1.43887172])

In [30]:
def mse(y_true, y_pred):
    return np.mean((y_true - y_pred)**2)

def mae(y_true, y_pred):
    return np.mean(np.abs(y_true - y_pred))

def r2(y_true, y_pred):
    corr_matrix = np.corrcoef(y_true, y_pred)
    corr = corr_matrix[0, 1]
    return corr**2

print('Mean Absolute Error:', mae(y_test, y_pred))
print('Mean Squared Error:', mse(y_test, y_pred))
print('R2 Score:', r2(y_test, y_pred))

Mean Absolute Error: 0.7006779426190163
Mean Squared Error: 0.7519284758862012
R2 Score: 0.9707354005665281

In [5]:
student = pd.read_csv('data/student.csv')

In [6]:
student.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [20]:
ps = student['Previous Scores']
pii = student['Performance Index']

In [21]:
#test train split
X_train, X_test, y_train, y_test = train_test_split(ps.values.reshape(-1,1), pii.values.reshape(-1,1), random_state=0)

In [12]:
student = student.dropna()

In [26]:
model_student = LinearRegression().fit(X_train, y_train)

In [28]:
def mse(y_true, y_pred):
    return np.mean((y_true - y_pred)**2)

def mae(y_true, y_pred):
    return np.mean(np.abs(y_true - y_pred))

def r2(y_true, y_pred):
    corr_matrix = np.corrcoef(y_true, y_pred)
    corr = corr_matrix[0, 1]
    return corr**2


y_pred = model_student.predict(X_test)
print('Mean Absolute Error:', mae(y_test, y_pred))
print('Mean Squared Error:', mse(y_test, y_pred))
print('R2 Score:', r2_score(y_test, y_pred))

Mean Absolute Error: 6.518788277884396
Mean Squared Error: 59.094003877878215
R2 Score: 0.8330896453673496

In [34]:
X = student[['Hours Studied', 'Sleep Hours']]
y = student[['Performance Index', 'Sample Question Papers Practiced']]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Fit the linear regression model
model_student = LinearRegression().fit(X_train, y_train)

# Predict the performance index for the test set
y_pred = model_student.predict(X_test)

# Calculate the evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Absolute Error:', mae)
print('Mean Squared Error:', mse)
print('R2 Score:', r2)

Mean Absolute Error: 8.803354479587417
Mean Squared Error: 158.20150124301966
R2 Score: 0.0650194516317148

In [31]:
X

      Previous Scores  Sleep Hours
0                  99            9
1                  82            4
2                  51            7
3                  52            5
4                  75            8
...               ...          ...
9995               49            4
9996               64            8
9997               83            8
9998               97            7
9999               74            8

[10000 rows x 2 columns]